<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <application>
    <name>ProductApi</name>
  </application>
  <log level="info" />
  <service enabled="true" />
  <transactionTracer enabled="true" transactionThreshold="apdex_f" recordSql="obfuscated" />
  <requestParameters enabled="true" />
  <crossApplicationTracer enabled="true" />
  <attributes enabled="true">
    <exclude>request.headers.cookie</exclude>
    <exclude>request.headers.authorization</exclude>
  </attributes>
</configuration>